# root
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# frontend build
alimenta-bem-ui/build/
alimenta-bem-ui/dist/

# dotnet
**/bin/
**/obj/
**/*.user
**/*.suo

# api local secrets
alimenta-bem-api/private.key
alimenta-bem-api/public.key
alimenta-bem-api/appsettings.json
alimenta-bem-api/appsettings.Development.json
!alimenta-bem-api/appsettings.example.json

# vscode/idea
.vscode/
.idea/
